<% provide(:title, 'Ночное Рубалово') %>




<div class="content">

	<h1>List of photos</h1>


<%= link_to 'Add your photo', new_photo_path, class: 'btn btn-lg btn-primary' %>

<ul class="row" id="photos-list">
  <% @photos.each do |photo| %>
    <li class="col-xs-3">
    <%= link_to 'Show', photo %>
    <td><%= link_to 'Удалить', photo_path(photo),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <%= link_to image_tag(photo.image.thumb('180x180#').url, alt: photo.title, class: 'img-thumbnail'),
                  photo.image.url, target: '_blank' %>
      <p><%= photo.title %></p>

<small><%= number_to_human_size photo.image.size %></small>
    </li>
  <% end %>
</ul>





</div>

